# Business Analysis ( Absenteeism at Work)

In [1]:
import pandas as pd
import numpy as np
data=pd.read_excel(r"C:\Users\SRKT\Desktop\Absenteeism_at_work_Project.xls")
data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2

In [2]:
data.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.206757,6.324324,3.914865,2.544595,221.155405,29.648649,12.554054,36.450000,271363.312162,...,0.052703,1.293243,1.013514,0.567568,0.074324,0.745946,79.048649,172.127027,26.667568,6.908108
std,11.021247,8.426500,3.436287,1.421675,1.111831,66.950683,14.863686,4.392890,6.478981,39013.114282,...,0.223590,0.673655,1.092393,0.495749,0.262475,1.318258,12.866350,6.031050,4.243633,13.288297
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205917.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244387.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264249.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,284853.000000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378884.000000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    int64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(21)
memory usage: 121.5 KB

In [4]:
data.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

Drop

In [5]:
data=data.drop(['ID'],axis=1)

In [6]:
data.head()

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,4
1,0,7,3,1,118,13,18,50,239554,97,1,1,1,1,0,0,98,178,31,0
2,23,7,4,1,179,51,18,38,239554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,5,1,279,5,14,39,239554,97,0,1,2,1,1,0,68,168,24,4
4,23,7,5,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,2

In [7]:
data['Reason for absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [8]:
sorted(data['Reason for absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

get_dummies

In [9]:
reason_column=pd.get_dummies(data['Reason for absence'],drop_first=True) #remove 0 column

In [10]:
reason_column

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
738,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Group The Reason for Absent

In [11]:
data.columns.values

array(['Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense',
       'Distance from Residence to Work', 'Service time', 'Age',
       'Work load Average/day ', 'Hit target', 'Disciplinary failure',
       'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet',
       'Weight', 'Height', 'Body mass index', 'Absenteeism time in hours'],
      dtype=object)

In [12]:
data=data.drop(['Reason for absence'],axis=1)

In [13]:
reason_type_1=reason_column.loc[:,1:14].max(axis=1)
reason_type_2=reason_column.loc[:,15:17].max(axis=1)
reason_type_3=reason_column.loc[:,18:21].max(axis=1)
reason_type_4=reason_column.loc[:,21:].max(axis=1)

Concatenate the values

In [14]:
data=pd.concat([data,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)

In [15]:
data

,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,...,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,0,1,2,3
0,7,3,1,289,36,13,33,239554,97,0,...,0,1,90,172,30,4,0,0,0,1
1,7,3,1,118,13,18,50,239554,97,1,...,0,0,98,178,31,0,0,0,0,0
2,7,4,1,179,51,18,38,239554,97,0,...,0,0,89,170,31,2,0,0,0,1
3,7,5,1,279,5,14,39,239554,97,0,...,1,0,68,168,24,4,1,0,0,0
4,7,5,1,289,36,13,33,239554,97,0,...,0,1,90,172,30,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,7,3,1,289,36,13,33,264604,93,0,...,0,1,90,172,30,8,1,0,0,0
736,7,3,1,235,11,14,37,264604,93,0,...,0,1,88,172,29,4,1,0,0,0
737,0,3,1,118,14,13,40,271219,95,0,...,0,8,98,170,34,0,0,0,0,0
738,0,4,2,231,35,14,39,271219,95,0,...,0,2,100,170,35,0,0,0,0,0
739,0,6,3,179,45,14,53,271219,95,0,...,0,1,77,175,25,0,0,0,0,0

In [16]:
data.columns.values

array(['Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 0, 1, 2, 3], dtype=object)

In [17]:
columns=['Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'reason_1', 'reason_2','reason_3','reason_4']

In [18]:
data.columns=columns

In [19]:
data

,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,...,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,reason_1,reason_2,reason_3,reason_4
0,7,3,1,289,36,13,33,239554,97,0,...,0,1,90,172,30,4,0,0,0,1
1,7,3,1,118,13,18,50,239554,97,1,...,0,0,98,178,31,0,0,0,0,0
2,7,4,1,179,51,18,38,239554,97,0,...,0,0,89,170,31,2,0,0,0,1
3,7,5,1,279,5,14,39,239554,97,0,...,1,0,68,168,24,4,1,0,0,0
4,7,5,1,289,36,13,33,239554,97,0,...,0,1,90,172,30,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,7,3,1,289,36,13,33,264604,93,0,...,0,1,90,172,30,8,1,0,0,0
736,7,3,1,235,11,14,37,264604,93,0,...,0,1,88,172,29,4,1,0,0,0
737,0,3,1,118,14,13,40,271219,95,0,...,0,8,98,170,34,0,0,0,0,0
738,0,4,2,231,35,14,39,271219,95,0,...,0,2,100,170,35,0,0,0,0,0
739,0,6,3,179,45,14,53,271219,95,0,...,0,1,77,175,25,0,0,0,0,0

columns reorder

In [20]:
column_name_reorder=['reason_1', 'reason_2','reason_3','reason_4','Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours']

In [21]:
data=data[column_name_reorder]

In [22]:
data

,reason_1,reason_2,reason_3,reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,1,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,1,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,1,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,1,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,0,1,2,1,0,1,90,172,30,8
736,1,0,0,0,7,3,1,235,11,14,...,0,3,1,0,0,1,88,172,29,4
737,0,0,0,0,0,3,1,118,14,13,...,0,1,1,1,0,8,98,170,34,0
738,0,0,0,0,0,4,2,231,35,14,...,0,1,2,1,0,2,100,170,35,0
739,0,0,0,0,0,6,3,179,45,14,...,0,1,1,0,0,1,77,175,25,0

Education

In [23]:
data['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [24]:
data['Education'].value_counts()

1    610
3     79
2     47
4      4
Name: Education, dtype: int64

In [25]:
data['Education']=data['Education'].map({1:0,2:1,3:1,4:1})

In [26]:
data['Education'].value_counts()

0    610
1    130
Name: Education, dtype: int64

# Creating a Logistics Regression to predict Absenteeism

In [28]:
import pandas as pd
import numpy as np

Load the Data

In [30]:
data.head()

,reason_1,reason_2,reason_3,reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,0,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,0,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,0,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,0,2,1,0,1,90,172,30,2

Create the Target

In [31]:
data['Absenteeism time in hours'].median()

3.0

In [32]:
targets=np.where(data['Absenteeism time in hours']>3,0,1)  #np.where(condition, if,else)

In [34]:
targets[:100] # 0 for highly absent & 1 for no absent

array([0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0])

In [35]:
data['excesive abseentism']= targets

In [36]:
data.head()

,reason_1,reason_2,reason_3,reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,excesive abseentism
0,0,0,0,1,7,3,1,289,36,13,...,0,2,1,0,1,90,172,30,4,0
1,0,0,0,0,7,3,1,118,13,18,...,0,1,1,0,0,98,178,31,0,1
2,0,0,0,1,7,4,1,179,51,18,...,0,0,1,0,0,89,170,31,2,1
3,1,0,0,0,7,5,1,279,5,14,...,0,2,1,1,0,68,168,24,4,0
4,0,0,0,1,7,5,1,289,36,13,...,0,2,1,0,1,90,172,30,2,1

In [37]:
data=data.drop(['Absenteeism time in hours'],axis=1)

In [38]:
data.head()

,reason_1,reason_2,reason_3,reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,excesive abseentism
0,0,0,0,1,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,0
1,0,0,0,0,7,3,1,118,13,18,...,1,0,1,1,0,0,98,178,31,1
2,0,0,0,1,7,4,1,179,51,18,...,0,0,0,1,0,0,89,170,31,1
3,1,0,0,0,7,5,1,279,5,14,...,0,0,2,1,1,0,68,168,24,0
4,0,0,0,1,7,5,1,289,36,13,...,0,0,2,1,0,1,90,172,30,1

select inputs

dataframe.iloc[row indices , column indices]

In [41]:
data.shape

(740, 23)

In [45]:
data_target=data['excesive abseentism']

In [46]:
data_target

0      0
1      1
2      1
3      0
4      1
      ..
735    0
736    0
737    1
738    1
739    1
Name: excesive abseentism, Length: 740, dtype: int32

In [47]:
data_input=data.drop(['excesive abseentism'],axis=1)

In [48]:
data_input

,reason_1,reason_2,reason_3,reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index
0,0,0,0,1,7,3,1,289,36,13,...,97,0,0,2,1,0,1,90,172,30
1,0,0,0,0,7,3,1,118,13,18,...,97,1,0,1,1,0,0,98,178,31
2,0,0,0,1,7,4,1,179,51,18,...,97,0,0,0,1,0,0,89,170,31
3,1,0,0,0,7,5,1,279,5,14,...,97,0,0,2,1,1,0,68,168,24
4,0,0,0,1,7,5,1,289,36,13,...,97,0,0,2,1,0,1,90,172,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,93,0,0,2,1,0,1,90,172,30
736,1,0,0,0,7,3,1,235,11,14,...,93,0,1,1,0,0,1,88,172,29
737,0,0,0,0,0,3,1,118,14,13,...,95,0,0,1,1,0,8,98,170,34
738,0,0,0,0,0,4,2,231,35,14,...,95,0,0,2,1,0,2,100,170,35
739,0,0,0,0,0,6,3,179,45,14,...,95,0,0,1,0,0,1,77,175,25

Standardize the data

In [54]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

sc.fit_transform(data_input)

array([[-0.58567286, -0.09041232, -0.31552216, ...,  0.85173794,
        -0.02107642,  0.78580936],
       [-0.58567286, -0.09041232, -0.31552216, ...,  1.47393545,
         0.97444818,  1.02161591],
       [-0.58567286, -0.09041232, -0.31552216, ...,  0.77396325,
        -0.35291796,  1.02161591],
       ...,
       [-0.58567286, -0.09041232, -0.31552216, ...,  1.47393545,
        -0.35291796,  1.72903553],
       [-0.58567286, -0.09041232, -0.31552216, ...,  1.62948482,
        -0.35291796,  1.96484207],
       [-0.58567286, -0.09041232, -0.31552216, ..., -0.15933301,
         0.47668588, -0.39322334]])

train_test_split

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data_input,data_target,test_size=0.20)

In [57]:
x_train.shape,x_test.shape

((592, 22), (148, 22))

Logistic regression

In [61]:
from sklearn.linear_model import LogisticRegression

reg=LogisticRegression()

reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
reg.score(x_train,y_train)

0.6283783783783784

In [64]:
model_output=reg.predict(x_train)

In [66]:
model_output[:100]

array([0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0])

In [67]:
#intercept
reg.intercept_

array([5.5615799e-05])

In [68]:
reg.coef_ # coficient

array([[-3.94667358e-04,  2.23992510e-06, -1.97739060e-04,
         5.09516056e-04, -2.56571352e-04,  7.32039491e-04,
         3.22479540e-04, -7.11193059e-03,  4.58959785e-03,
         9.75244736e-04,  2.16412657e-03, -2.48013921e-06,
         5.79989061e-03,  1.13670193e-04,  2.94366623e-05,
        -5.57909163e-04, -1.07412472e-04, -3.64185000e-05,
         1.02496296e-04,  3.22735559e-03,  8.01926065e-03,
         1.59356863e-03]])

In [69]:
reg.score(x_test,y_test)

0.5337837837837838

save the model

In [72]:
import pickle
with open(r'C:\Users\SRKT\Desktop\datat\modreg','wb') as file:
    pickle.dump(reg,file)

In [73]:
with open(r'C:\Users\SRKT\Desktop\datat\sca','wb') as file:
    pickle.dump(sc,file)

# abseentism class

In [ ]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator,TransformerMixin


#the custom scaler class 
class CustomScaler(BaseEstimator,TransformerMixin):
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler=StandardScaler(copy,with_mean,with_std)
        self.columns=columns
        self.mean_=None
        self.var_=None
        
    def fit(self,X,y=None):
        self.scaler.fit(X[self.columns],y)
        self.mean_=np.array(np.mean(X[self.columns]))
        self.var_=np.arrray(np.var(X[self.columns]))
        
    def transform(self,X,y=None,copy=None):
        init_col_order=X.columns
        X_scaled=pd.DataFrame(self.scaler.transform(X[self.columns]),columns=self.columns)
        x_not_scaled=X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled,X_scaled],axis=1)[init_col_order]
        
   


 class absenteeism_model():
    
    def __init__(self,model_file,scaler_file):
        #read the model & scaler where it is save
        with open('model','rb') as model_file,with open('scaler_file','rb') as scaler_file:
            self.reg=pickle.load(model_file)
            self.scaler=pickle.load(scaler_file)
            self.data=None
            
    #take a .csv file and preprocessit
    def load_and_clean_data(self,data_file):
        
        #import the dataset
        df=pd.read_csv(data_file,delimiter=',')
        #store the data into new varibale for later use
        self.df_with_predictions=df.copy()
        #drop the ID column 
        df=df.drop(['ID'],axis=1)
        
        #create the seprate dataframe,contaning dummy variable for ALL available reason
        reason_columns=pd.get_dummies(df['Reason for absence'],drop_first=True)
        
        #split columns into 4 columns
        reason_type_1=reason_columns.loc[:,:14].max(axis=1)
        reason_type_2=reason_columns.loc[:,15:17].max(axis=1)
        reason_type_3=reason_columns.loc[:,18:21].max(axis=1)
        reason_type_4=reason_columns.loc[:,22:].max(axis=1)
        
        #to avoid multi-colinearity drop 'Reason for absence' columns
        df=df.drop(['Reason for absence'],axis=1)
        
        #concatenate the columns
        df=pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)
        
        #assing the name of the columns
        columns=['Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'reason_1', 'reason_2','reason_3','reason_4']
        
        df.columns=columns
        
        #re-order the columns name in df
        columns_re_order=columns=['reason_1', 'reason_2','reason_3','reason_4',
                                  'Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours']
        
        df=df['columns_re_order']
        
        #map education varibale 
        df['Education']=df['Education'].map({1:0,2:1,3:1,4:1})
        
        #we don't need this columns
        df=df.drop(['Distance from Residence to Work','Day of the week','Work load Average/day'],axis=1)
        #drop the orginal absent time
        df=df.drop(['Absenteeism time in hours'],axis=1)
        
        self.preprocesed_data=df.copy()
        
        #we need this line so we coluld use it in next function
        self.data=self.scaler.transform(df)
        
    # a function which output the probability of a data point to be 1
    def predicted_probability(self):
        if (self.data is not None):
            pred=self.reg.predict_proba(self.data)[:,1]
            return pred
        
    #a function will have output 0  or 1
    def predicted_output_category(self):
        if (self.data is not None):
            pred_outputs=self.reg.predict(self.data)
            return pred_outputs
        
    def prediction_output(self):
        if(self.data is not None):
            self.preprocesed_data['prediction']=self.reg.predict(self.data)
            self.preprocesed_data['probability']=self.reg.predict_proba(self.data)[:,1]